* {
    margin: 0;
}
.main {
    height: 500px;
    width: 400px;
    margin: 0 auto;
    position: relative;
}


.ant-tabs .ant-tabs-tab .anticon {
    margin-right: 0;
}

.ant-tabs-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ant-tabs-tab {
    width: 50%;
    justify-content: center;
}

.ant-tabs-nav {
    padding: 0 50px;
}